.titulo {
    text-align: center;
}

.titulo h1 {
    font-weight: 500;
    font-size: 2rem;
}

.titulo h2 {
    font-weight: 500;
    font-size: 1.75rem;
}

.titulo h3 {
    font-weight: 500;
    font-size: 1.5rem;
}

.titulo h4 {
    font-weight: 500;
    font-size: 1.25rem;
}

.titulo h5 {
    font-size: 1rem;
    font-weight: bold;
}