.card {
  background-color: var(--cinza);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5em 0;
  padding: 0 0 1em 0;
  width: 282px;
}

.card .capa {
  width: 100%;
}

.card .titulo {
  padding: 0 1em;
}

.card .favoritar {
  width: 25px;
}
